@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?8ykuy21');
  src:  url('/fonts/icomoon.eot?8ykuy21#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?8ykuy21') format('truetype'),
    url('/fonts/icomoon.woff?8ykuy21') format('woff'),
    url('/fonts/icomoon.svg?8ykuy21#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
  content: "\e909";
}
.icon-delete:before {
  content: "\e90a";
}
.icon-add:before {
  content: "\e900";
}
.icon-battery-charge:before {
  content: "\e901";
}
.icon-battery-high:before {
  content: "\e902";
}
.icon-battery-low:before {
  content: "\e903";
}
.icon-battery-mid:before {
  content: "\e904";
}
.icon-battery-full:before {
  content: "\e905";
}
.icon-water:before {
  content: "\e906";
}
.icon-droplet:before {
  content: "\e907";
}
.icon-time:before {
  content: "\e94e";
}
.icon-chart:before {
  content: "\e99b";
}
.icon-humidity:before {
  content: "\e908";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-arrow-left:before {
  content: "\f104";
}
.icon-arrow-right:before {
  content: "\f105";
}
.icon-arrow-up:before {
  content: "\f106";
}
.icon-arrow-down:before {
  content: "\f107";
}
.icon-temp-4:before {
  content: "\f2c7";
}
.icon-temp-3:before {
  content: "\f2c8";
}
.icon-temp-2:before {
  content: "\f2c9";
}
.icon-temp1:before {
  content: "\f2ca";
}
.icon-temp-0:before {
  content: "\f2cb";
}

